[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
pymongo = "*"
hyperdiv = "*"
temporalio = "*"
# temporalio = {git="https://github.com/temporalio/sdk-python", ref="main"}
markdownify = "*"
langchain = "*"
llama-index = "*"
llama-index-vector-stores-mongodb = "*"
llama-index-embeddings-ollama = "*"
langchain-text-splitters = "*"
llama-index-storage-docstore-mongodb = "*"
llama-index-llms-ollama = "*"
validators = "*"
llama-index-tools-duckduckgo  = "*"
llama-index-graph-stores-neo4j = "*"
llama-index-tools-neo4j = "*"
span-marker = "*"
llama-index-extractors-entity = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
