[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
pymongo = "*"
hyperdiv = "*"
temporalio = "*"
# temporalio = {git="https://github.com/temporalio/sdk-python", ref="main"}
# span-marker = "*"
flask = "*"
python-dotenv = "*"
markdownify = "*"
validators = "*"
llama-index = "0.10.56"
# llama-index-vector-stores-mongodb = "0.1.8"
# llama-index-storage-docstore-mongodb = "*"
llama-index-embeddings-ollama = "0.1.2"
llama-index-llms-ollama = "0.1.6"
llama-index-tools-duckduckgo  = "0.1.1"
llama-index-graph-stores-neo4j = "0.2.8"
llama-index-vector-stores-neo4jvector = "0.1.6"
# llama-index-tools-neo4j = "0.1.3"
# llama-index-extractors-entity = "0.1.2"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.12"
